﻿@section Scripts{
    @Scripts.Render("~/Scripts/Scripta.js")
}
<br />
@*---------------------------------------------------POCETNA STRANA--------------------------------*@
<div class="container" id="infoPocetnaStrana">
    <div>
        <h4 class="col-lg-4 col-lg-offset-4">Korisnik nije prijavljen na sistem!</h4>
    </div>
    <div>
        <button type="button" class="btn btn-warning col-lg-offset-5" id="btnPrijavaRegistracija">Registracija i Prijava</button>
    </div>
</div>

@*-------------------------------------------------REGISTRACIJA I PRIJAVA-----------------------------------------------------*@
<div class="container col-lg-12 hidden" id="regOrSignUp">
    <div>
        <button type="button" class="btn btn-warning  col-sm-offset-5 " id="btnPocetak">Pocetak</button>
    </div>
    <div class="col-sm-5 col-lg-offset-3 " id="registracijaForm">
        <br />
        <form method="post" action="post/" id="prijava">
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">Korisničko ime:</label>
                <input class="form-control" type="text" id="regEmail" />
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Lozinka:</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>

            <div class="form-group col-lg-offset-2">
                <button type="button" class="btn btn-warning  col-sm-offset-4" id="btnReg">Registracija</button>
            </div>
            <div class="form-group col-lg-offset-2">
                <button type="submit" class="btn btn-default col-sm-offset-4" id="btnPrijava">Prijava</button>
            </div>
        </form>
    </div>
</div>

@*-----------------------------Info o prijavljenom korisniku i dugme za odjavu------------------------------------------*@

<div class="container col-lg-12 hidden" id="infoOdjava">
    <div class="col-lg-12">
        <h5 id="info" class="col-lg-offset-4"><i></i></h5>
    </div>
    <div>
        <button class="btn btn-warning col-lg-1 col-lg-offset-5 " id="odjavise">Odjava</button>
    </div>
</div>

@*//--------------------------------------------------PRETRAGA------------------------------------------*@
<div class="hidden" id="pretraga">
    <div class="container col-lg-12">
        <br />
        <h4 class="col-sm-10 col-sm-offset-3">Pretraga zaposlenih po godini zaposlenja:</h4>
        <br />
        <form method="post" action="post/" class="form-inline" id="formPretraga">
            <div class="form-inline ">
                <div class="col-lg-3 col-lg-offset-2 ">
                    <label class="col-lg-3 col-form-label">Od:</label>
                    <input type="number" id="startPretraga" />
                </div>
            </div>
            <div class="form-inline ">
                <div class="col-lg-3 ">
                    <label class="col-lg-3 col-form-label">Do:</label>
                    <input type="number" id="krajPretraga" />
                </div>
            </div>
            <div class="form-inline">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default"> Pretraga </button>
                </div>
            </div>
        </form>
    </div>
</div>

@*-----------------------------Tabela ------------------------------------------*@
<br />
<div class="container col-lg-12">
    <hr />
    <div class="col-lg-7 col-lg-offset-2">
        <div id="dataZaposleni" class="col-lg-12">
        </div>
    </div>
</div>

@*-----------------------------Edit zaposlenog------------------------------------------*@
<div class="container">
    <div class=" hidden col-sm-10 col-sm-offset-3" id="editZaposlenog">
        <br />
        <h4 class="col-sm-offset-2">Izmena zaposlenih</h4>
        <br />
        <form method="post" action="post/" class="form-horizontal" id="formEdit">

            <div class="form-group row">
                <div class="col-lg-10">
                    <label class="col-sm-3 col-form-label">Kompanija:</label>
                    <select class="form-control" name="" id="kompanijaSelect"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-10">
                    <label class="col-sm-3 col-form-label">Ime i Prezime:</label>
                    <input class="form-control" type="text" id="imeIprezime" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-10">
                    <label class="col-sm-3 col-form-label">Godina rodjenja:</label>
                    <input class="form-control" type="number" id="godRodjenja" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-10">
                    <label class="col-sm-3 col-form-label">Godina zaposlenja:</label>
                    <input class="form-control" type="number" id="godZaposlenja" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-10">
                    <label class="col-sm-3 col-form-label">Plata:</label>
                    <input class="form-control" step="0.01" type="number" id="plata" />
                </div>
            </div>
            <div class="form-group">
                <br />
                <div class="col-lg-offset-1">
                    <button type="submit" class="btn btn-warning"> Dodavanje </button>
                    <button type="reset" class="btn btn-default col-lg-offset-2" id="odustajanje"> Odustajanje </button>
                </div>
            </div>
        </form>
        <div class="col-lg-offset-3">

        </div>

    </div>
</div>

